* {
    box-sizing: border-box;
}

.buyorsell__buy,
.buyorsell__sell
{
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3e68ff;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 20px;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
    margin: 20px;

    @media screen and (-ms-high-contrast: active) {
        border: 2px solid currentcolor;
    }
}

.buyorsell__buy:hover,
.buyorsell__sell:hover {
    transition: background-color 0.8s ease;
    background-color: white;
    color: black;
}

.buyorsell__heading {
    text-align: center;
    
    font-weight: 800;
    font-size: 25px;
}

.buyorsell__h1 {
    letter-spacing: 5px;
}

.buyorsell__buttons {
    text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: white;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.buyorsell__cards {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.card:hover {
    transform: scale(1.02);
}

.container {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
