.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 450px;
  background-color: white;
  z-index: 1;

  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 5px 6px #ccc;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f8c14b;
  border: 1px solid;
  margin-top: 18px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}

.product__stars {
  color: #f8c14b;
}